body {
    font-family: Arial, sans-serif;
    background-color: #f2e7dc;
    margin: 0;
}
footer,
header {
    background-color: #027373;
    color: #ffffff;

    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 5px 50px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
}

#text-display {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 20px;
}

#results,
#result-previous,
#comparison {
    margin: 20px;
    background-color: #038c7f;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#result-previous,
#comparison {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.compResults {
    display: flex;
    justify-content: space-between;
}
#user-input {
    margin: 20px 20px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/*correct unswer color #A9D9D0, incorrect color #D96941 */
button,
.buttons div {
    background-color: #038c7f;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #027373;
}

.buttons {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.previous-results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    background-color: #038c7f;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 20px;
}
#resultsTable {
    width: 100%;
    margin-top: 20px;
}

#resultsTable th,
#resultsTable td {
    padding: 8px;
    text-align: left;
}

#resultsTable th {
    background-color: #f2f2f2;
    color: black;
}
